log/*
temp/*
!temp/.gitkeep
vendor/*
!.gitignore
!.htaccess
!web.config
app/config/local.neon
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/app/config/local.prod.neon
