parameters:
	https: off

	dbal:
		host: localhost
		driver: pgsql
		connectionTz: UTC
		simpleStorageTz: UTC

php:
	date.timezone: UTC

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

nextras.dbal: %dbal%

nextras.orm:
	model: App\Model\RepositoryContainer

nextras.migrations:
	dir: %appDir%/../migrations

kdyby.console:
	commands: []

services:
	router: App\RouterFactory::createRouter(%https%)
	- Nextras\Migrations\Bridges\NextrasDbal\NextrasAdapter
	- Nextras\Migrations\Drivers\PgSqlDriver
	- App\Services\Authenticator
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\Forms\RegistrationFormFactory(%domainsAllowedForRegistration%)
	- App\Services\JidelniListekAggregator
	- App\Services\SpravceObjednavek

extensions:
	nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	nextras.migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	kdyby.console: Kdyby\Console\DI\ConsoleExtension
