{block content}
<section class="section">
	<div class="container">
		<h1 class="title" n:block=title>Přihlášení</h1>
		{include '../components/bulmaForm.latte', form => signInForm}
	</div>
</section>
